body {
     background-color:  #f7975d;
     color: whitesmoke;

}

.molleCursive {
  font-family:   'Molle', cursive;
}

#blocOne {
    color: whitesmoke;
    width: 100%;
   
}

.illustration {
    width: 40%;
    height: auto;
}

.playerOne {
    width: 80%;
    height: auto;
}

.playerTwo {
    width: 80%;
    height: auto;
}

.troisIllustration {
    margin-bottom: 70px
}

.containerFooter {
     background-color: #fbdba8;
     position: absolute;
     bottom: 0;
     padding: 45px;
     font-size: 20px;
     font-weight: bold;
}

.color {
    color: #f7975d;
}

@media screen and (max-width: 800px){
  

    .troisIllustration {
        max-height: 200px;
        width: 300px;
        display: flex ;
       flex-wrap: nowrap;
        
    }

    .player {
        max-height: auto;
        width: 140px;
        height: auto;
        margin-top: 10px;
        
    }

    .containerFooter {
        max-height: auto;
        font-size: 10px;
        width: 100%;
        padding-top: 10px;
    }
 

}


